body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #6a11cb, #2575fc);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: white;
    width: 50%;
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}
nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
}
nav a:hover {
    background-color: #628daac0;
} 


   body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #070707, #fc6f03, #fc6f03,#070707);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background: linear-gradient(to right, #070707, #fc6f03, #fc6f03,#070707);
            padding: 50px;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            color: white;
            width: 70%;
            text-align: center;
        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 18px;
        }
        nav {
            background-color: #333;
            text-align: center;
            padding: 10px 0;
        }

        nav a {
            color: white;
            padding: 12px 20px;
            text-decoration: none;
            margin: 0 15px;
            font-size: 1.1rem;
        }

        /* nav a:hover {
            background-color: #628daa;
        }  */